:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-image: url(./public/banner.webp);
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.avatar {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  height: 110vh;
  width: 200vh;
}

nav {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: clamp(60%, 1000px, 95%);
}
nav .first-nav-div {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
nav .first-nav-div img {
  width: 6rem;
}
nav .first-nav-div ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
  font-weight: 500;
}
nav .second-nav-div {
  display: flex;
  gap: 1rem;
}
nav .second-nav-div a {
  text-decoration: none;
  padding: 0.7rem 2.2rem;
  border-radius: 2rem;
  font-weight: 600;
}
nav .second-nav-div a:first-child {
  background-color: transparent;
}
nav .second-nav-div a:first-child:hover {
  background-color: black;
  color: white;
  transition: all 0.5s linear;
}
nav .second-nav-div a:last-child {
  background-color: white;
  color: black;
}

.banner {
  z-index: 10;
  margin: auto;
  width: clamp(60%, 1000px, 95%);
}
.banner .banner-text {
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  z-index: 10;
}
.banner .banner-text h1 {
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 5rem;
  z-index: 10;
}
.banner .banner-text .line {
  width: 1rem;
  height: 1px;
  background-color: white;
  border: none;
  z-index: 10;
}
.banner .banner-text a {
  text-decoration: none;
  padding: 0.7rem 2.2rem;
  border-radius: 2rem;
  font-weight: 600;
  background-color: black;
  transition: all 0.3s linear;
  z-index: 10;
  cursor: pointer;
}
.banner .banner-text a:hover {
  color: black;
  background-color: white;
}
.banner .banner-text span {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s linear;
  text-underline-offset: 4px;
  cursor: pointer;
}
.banner .banner-text span:hover {
  text-underline-offset: -4px;
}

.reveal {
  margin: auto;
  z-index: -20;
  width: clamp(60%, 1000px, 95%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  top: 0px;
}

.box {
  width: 48vh;
  height: 70vh;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transform: translateX(-50%);
  transition: all 0.5 linear;
  z-index: -20;
}

.reveal-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(75px) scale(0.75);
}
.reveal-text h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  width: 90%;
  color: black;
}
.reveal-text p {
  width: 50%;
  font-size: 1.1rem;
  text-align: center;
  color: black;
  font-weight: 500;
}
.reveal-text span {
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.3s linear;
  text-underline-offset: 4px;
  cursor: pointer;
  color: black;
}
.reveal-text span:hover {
  text-underline-offset: -4px;
}

.reveal-slider {
  display: flex;
  position: absolute;
  background-color: lightblue;
  bottom: 0;
}
.reveal-slider .middle-card {
  -o-object-fit: cover;
     object-fit: cover;
  width: 48vh;
  height: 70vh;
  bottom: 0px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  overflow: hidden;
  position: absolute;
  z-index: 5;
  border-top: 3.5px solid #BBC4CD;
  border-left: 3.5px solid #BBC4CD;
  border-right: 3.5px solid #BBC4CD;
  object-fit: cover;
  opacity: 1;
}
.reveal-slider .middle-card .banner {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.reveal-slider .middle-card img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.reveal-slider .middle-card img:nth-child(1) {
  -o-object-fit: cover;
     object-fit: cover;
  height: 110vh;
  width: 200vh;
}
.reveal-slider .middle-card img:nth-child(2) {
  width: 100%;
  height: 100%;
}
.reveal-slider .secondary {
  width: 48vh;
  height: 70vh;
  border-radius: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0px;
}
.reveal-slider .secondary img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5rem;
  width: 100%;
  height: 100%;
}
.reveal-slider .secondary-one {
  transform: translateX(100%) scale(1);
  opacity: 0;
}
.reveal-slider .secondary-two {
  right: 0%;
  transform: translateX(-100%) scale(1);
  opacity: 0;
}

#mobile-screen {
  display: none;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
}
#mobile-screen h1 {
  font-size: 4rem;
}

@media screen and (max-width: 1050px) {
  #mobile-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #mobile-screen h1 {
    color: black;
  }
  .reveal {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */