:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-image: url(./public/banner.webp);
    background-position: left center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    // overflow: hidden;
    width: 100%;
    height: 100vh;
}

.avatar{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: -1;
    height: calc(110vh);
    width: calc(200vh);

    // img{
    //     object-fit: cover;
    //     width: calc(100vh);
    //     height: calc(120vh);
    // }
}

nav{
    display: flex;
    padding: 1rem 12rem;
    justify-content: space-between;
    align-items: center;

    .first-nav-div{
        display: flex;
        gap: 2.5rem;

        img{
            width: 6rem;
        }

        ul{
            display: flex;
            list-style: none;
            gap: 1rem;
            cursor: pointer;
        }
    }

    .second-nav-div{
        display: flex;
        gap: 1rem;

        a{
            text-decoration: none;
            padding: 0.7rem 2.2rem;
            border-radius: 2rem;
            font-weight: 600;

            &:first-child {
                background-color: transparent;
                
                &:hover{
                    background-color: black;
                    color: white;
                    transition: all 0.5s linear;
                    
                }
            }
    
            &:last-child {
                background-color: white;
                color: black;
            }
        }
    }
}

.banner{
    z-index: 10;

    .banner-text{
        padding: 3rem 12rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        z-index: 10;
    
        h1{
            font-size: 5.6rem;
            font-weight: 800;
            line-height: 5rem;
            z-index: 10;
        }

        .line{
            width: 1rem;
            height: 1px;
            background-color: white;
            border: none;
            z-index: 10;
        }

        a{
            text-decoration: none;
            padding: 0.7rem 2.2rem;
            border-radius: 2rem;
            font-weight: 600;
            background-color: black;
            transition: all 0.3s linear;
            z-index: 10;
            cursor: pointer;

            &:hover{
                color: black;
                background-color: white;
            }
        }

        span{
            font-weight: 700;
            text-decoration: underline;
            transition: all 0.3s linear;
            text-underline-offset: 4px;
            cursor: pointer;

            &:hover{
                text-underline-offset: -4px;
            }
        }
    }
}

.reveal {
    // z-index: 50;
    // background-color: green;
    margin: auto;
    z-index: -20;
    // opacity: 0;
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 0px;

}

.box{
    width: calc(48vh);
    height: calc(70vh);
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 50%;
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: translateX(-50%);
    transition: all 0.5 linear;
    z-index: -20;
    // transform: scale(0);

}


.reveal-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    opacity: 0;
    transform: translateY(75px) scale(0.75);
    // background-color: blue;

    h2{
        font-size: 3.5rem;
        text-align: center;
        width: 90%;
        color: black;
    }

    p{
        width: 50%;
        font-size: 1.1rem;
        text-align: center;
        color: black;
        font-weight: 500;
    }

    span{
        font-weight: 700;
        text-decoration: underline;
        transition: all 0.3s linear;
        text-underline-offset: 4px;
        cursor: pointer;
        color: black;

        &:hover{
            text-underline-offset: -4px;
        }
    }

}

.reveal-slider{
    display: flex;
    // flex-direction: row;
    position: absolute;
    background-color: lightblue;
    bottom: 0;
    width: 100%;

    .middle-card{
        // background-image: url('/public/banner.webp');
        object-fit: cover;
        width: calc(48vh);
        height: calc(70vh);
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        overflow: hidden;
        position: absolute;
        z-index: 5;
        border-top: 3.5px solid #BBC4CD;
        border-left: 3.5px solid #BBC4CD;
        border-right: 3.5px solid #BBC4CD;
        object-fit: cover;
        opacity: 1;
        // transform: scale(1.0);
        // background-color: blue;

        .banner{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
    
        img{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);

            &:nth-child(1){
                object-fit: cover;
                height: calc(110vh);
                width: calc(200vh);
            }
    
            &:nth-child(2){
                width: 100%;
                height: 100%;
                // z-index: 15;
                // position: absolute;
            }
        }
    
        }

    .secondary{
        width: calc(48vh);
        height: calc(70vh);
        border-radius: 2.5rem;
        object-fit: cover;
        position: absolute;
        bottom: 0px;
        // left: 50%;
        // transform: translateX(-50%);

        img{
            object-fit: cover;
            border-radius: 2.5rem;
            width: 100%;
            height: 100%;
        }
    }

    .secondary-one{
        left: -4%;
        transform: translateX(0%) scale(1.0);
        opacity: 0;
        z-index: 15;
    }

    .secondary-two{
        right: -4%;
        transform: translateX(0%);
        z-index: 15;
        opacity: 0;
    }
}

